./graph/__pycache__/
.idea
./testData
./v1
./v2
graph/graph.pkl
graph/images/nodraph0.jpg
graph/images/nodegraph1.jpg
graph/edges
graph/nodes
graph/images
graph/node_data
graph/edge_data
testData
v3
edge_data
node_data
query_distinct_frame
graph.pkl
storage
__pycache__
v1 old1
v2 old1
v1 old2
v2 old2
v1_n
v2_n
storage
old testTing
v1 sushant
v2 sushant
graph/graph.pkl
graph/images/nodegraph0.jpg
graph/images/nodegraph1.jpg
__pycache__
testResults
make_edges.py
make_edges2.py
making_graph.py
v2 sushant

v3